
// Archivo Expanded - Light (300)
@font-face {
  font-family: "Archivo Expanded";
  src: url("/fonts/archivo-expanded-light/archivo-expanded-light.woff2")
      format("woff2"),
    url("/fonts/archivo-expanded-light/archivo-expanded-light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
// Archivo Expanded - Regular (Normal Weight)
@font-face {
  font-family: "Archivo Expanded";
  src: url("/fonts/archivo-expanded/archivo-expanded.woff2") format("woff2"),
    url("/fonts/archivo-expanded/archivo-expanded.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Archivo Expanded - Medium (500))
@font-face {
  font-family: "Archivo Expanded";
  src: url("/fonts/archivo-expanded-medium/archivo-expanded-medium.woff2")
      format("woff2"),
    url("/fonts/archivo-expanded-medium/archivo-expanded-medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Archivo Expanded - SemiBold (600)
@font-face {
  font-family: "Archivo Expanded";
  src: url("/fonts/archivo-expanded-semiBold/archivo-expanded-semiBold.woff2")
      format("woff2"),
    url("/fonts/archivo-expanded-semiBold/archivo-expanded-semiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Archivo Expanded - Bold (700)
@font-face {
  font-family: "Archivo Expanded";
  src: url("/fonts/archivo-expanded-bold/archivo-expanded-bold.ttf")
    format("ttf");
  //  url("/fonts/archivo-expanded-extraBold/archivo-expanded-extraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
// Archivo Expanded - ExtraBold (800)
@font-face {
  font-family: "Archivo Expanded";
  src: url("/fonts/archivo-expanded-extraBold/archivo-expanded-extraBold.woff2")
      format("woff2"),
    url("/fonts/archivo-expanded-extraBold/archivo-expanded-extraBold.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
// satoshi

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
// archivo

@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo-regular/archivo-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo-medium/archivo-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo-semibold/archivo-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo-bold/archivo-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo-regular/archivo-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Import Variables & Utilities
@import "../styles/variables.scss";
@import "../styles/utilities.scss";
